/*CSS de act16.html*/

.divPadre div{
	width:300px;
	height:300px;
	margin:40px;
	padding:30px
} 

.div1 {
	background-color:brown;
}

.div2 {
	background-color:aqua;
}

.div3 {
	background-color:burlywood;
}